@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');

body {
    background: #e0f2fe;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



nav {
    height: 8vh;
    width: 100%;
    background: #7dd3fc;
    color: #075985;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
}

main {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
}

.card {
    position: relative;
    height: 300px;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr;
    background: #bae6fd;
    padding: 15px;
    border-radius: 20px;
    justify-content: center;
    gap: 18px;
    -webkit-box-shadow: 8px 6px 13px -7px rgba(66, 68, 90, 1);
    -moz-box-shadow: 8px 6px 13px -7px rgba(66, 68, 90, 1);
    box-shadow: 8px 6px 13px -7px rgba(66, 68, 90, 1);
}

.card .close {
    border: none;
    background: none;
    color: #075985;
    font-weight: 900;
    font-size: 1.2rem;
    padding: 15px;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.card .title {
    font-size: 1.2rem;
    font-weight: 700;
    color: #0c4a6e;
}

.read{
    height: 40px;   
    border-radius: 20px;
    font-size: 1.02rem;
    font-weight: 600;
    cursor: pointer;
}

.read-true {
    border: 1px solid #059669;
    background: #4ade80;
    color: #14532d;
}

.read-false {
    border: 1px solid #e11d48;
    background: #fb7185;
    color: #881337;
}

.add-book {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    color: #075985;
    font-size: 1.4rem;
    cursor: pointer;
    border: 3px dashed #075985;
    border-radius: 20px;
    height: 300px;
}


.form {
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 300px;
    background: #075985;
    color: white;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 20px;
    text-align: center;
    animation-name: addBook;
    animation-duration: 0.4s;
    animation-timing-function: ease-out;
}

@keyframes addBook {
    from {
        transform: translate(-50%, -30%);
    }
    to {
        transform: translate(-50%,-50%);
    }
}

.invisible {
    display: none;
}

.form label {
    font-size: 1.3rem;
}

.form input {
    height: 1.8rem;
    width: 25ch;
    border: none;
    border-radius: 20px;
    text-indent: 15px;
    font-size: 1.2rem;
    background: #e0f2fe;
}

.form input:focus {
    outline: none;
}

.form button {
    background: #e0f2fe;
    padding: 10px;
    border: none;
    border-radius: 20px;
    font-size: 1.1rem;
    font-weight: 700;
    color: #075985;
}

.form select {
    padding: 10px;
    font-size: 1.1rem;
}

.form select:focus {
    outline: none;
}

.close-add {
    position: absolute;
    right: 0px;
    top: 0px;
    font-weight: 900;
    font-size: 1.1rem;
    padding: 15px;
    cursor: pointer;
}
